<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedeSocial.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div class="container">
        <div class="profile-page">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">
                        <div class="cover">
                            <div class="gray-shade"></div>
                        </div>
                        <div class="header-links">
                            <ul class="links d-flex align-items-center mt-3 mt-md-0">
                                <li class="header-link-item d-flex active mr-5 pr-5">
                                    <img class="img ml-0" src="~/img/logoTimeline.png" alt="">
                                </li>
                                <li class="header-link-item d-flex align-items-center active">
                                    <span class="fa fa-home text-primary mr-1"></span>
                                    @(Html.ActionLink("Timeline", "Index"))
                                </li>
                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <span class="fa fa-user mr-1"></span>
                                    @(Html.ActionLink("About", "About"))
                                </li>
                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <span class="fa fa-users mr-2"></span><a class="pt-1px d-none d-md-block" href="">Friends</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile-body">
                <div class="col-md-12 col-xl-12 col-md-12 middle-wrapper">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
