@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RedeSocial.Web.ViewModel.Account.AboutViewModel
<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 mt-2 ml-2">
                <img alt="" style="width:180px;" title="" class="img-circle" src="@Model.user.ImageUrl" data-original-title="Usuario">
            </div>
            <div class="col-md-6 col-lg-6">
                <strong>Informações Pessoais</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td><strong>Nome</strong></td>
                                <td class="text-primary">@Model.user.Name</td>
                            </tr>
                            <tr>
                                <td><strong>Usuario</strong></td>
                                <td class="text-primary">@Model.user.UserName</td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td class="text-primary">@Model.user.Email</td>
                            </tr>
                            <tr>
                                <td><strong>Data de Nascimento</strong></td>    
                                <td class="text-primary">@Model.user.Birthday</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>                  