@{
    ViewData["Title"] = "Home Page";
    ViewData["UrlImage"] = @Model.UserLoggedIn.ImageUrl;
    ViewData["UserName"] = @Model.UserLoggedIn.Name.ToUpper();
    Layout = "~/Views/Shared/_LayoutTimeline.cshtml";
}
@model RedeSocial.Web.ViewModel.Post.CommentViewModel
<div class="row">
    <!-- post start -->
    <div class="col-md-12 grid-margin">
        <div class="card rounded">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle"
                             src="@Model.Post.UserImageUrl" alt="">
                        <div class="media-body ml-3">
                            <strong>@Model.Post.userName</strong>
                            <div class="text-muted small">@Model.Post.PublishDateTime</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="mb-3 tx-14">
                    @Model.Post.Message
                </p>
                <img class="img-fluid" src="@Model.Post.ImageUrl" alt="">
            </div>
            <div class="card-footer">
                <div class="social-comment mt-3">
                    <div class="d-flex">
                        <img class="img-xs rounded-circle"
                             src="@Model.UserLoggedIn.ImageUrl" alt="">
                        <div class="media-body ml-2">
                            <form asp-action="CreateComment" class="form-login" asp-controller="Home" method="post">
                                <textarea class="form-control" asp-for="@Model.newComment.Message"
                                          placeholder="Escreva um comentário ..."></textarea>
                                <input type="hidden" asp-for="@Model.newComment.PostId" value="@Model.Post.Id">
                                <input type="hidden" asp-for="@Model.newComment.userName" value="@Model.UserLoggedIn.UserName">
                                <button type="submit" class="btn btn-sm btn-primary mt-1 float-right">Comentar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                 @foreach (var item in Model.Comments)
                 {
                     <div class="social-comment mt-3">
                         <div class="d-flex align-items-center">
                             <img class="img-xs rounded-circle"
                                  src="@item.UserImageUrl" alt="">
                             <div class="media-body ml-3">
                                 <small class="text-primary"><strong>@item.userName</strong></small>
                                 <small class="text-muted">@item.PublishDateTime</small>
                             </div>
                         </div>
                         <div class="social-comment-body ml-4">
                             <p>
                                 @item.Message
                             </p>
                         </div>
                     </div>
                 }
            </div>
        </div>
    </div>
    <!-- post end -->
</div>