@{
    ViewData["Title"] = "Home Page";
    ViewData["UrlImage"] = @Model.UserLoggedIn.ImageUrl;
    ViewData["UserName"] = @Model.UserLoggedIn.Name.ToUpper();
    Layout = "~/Views/Shared/_LayoutTimeline.cshtml";
}
@model RedeSocial.Web.ViewModel.Post.TimeLineViewModel
@foreach (var item in Model.Posts)
{
    <div class="row">
        <!-- post start -->
        <div class="col-md-12 grid-margin">
            <div class="card rounded">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="img-xs rounded-circle"
                                 src="@item.UserImageUrl" alt="">
                            <div class="media-body ml-3">
                                <strong>@item.userName</strong>
                                <div class="text-muted small">@item.PublishDateTime</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="mb-3 tx-14">@item.Message</p>
                    <img class="img-fluid" src="@item.ImageUrl" alt="">
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <span class="primary ml-3">
                            <span class="fa fa-comment text-primary mr-1"></span>
                            @(Html.ActionLink("Comment", "Comment", item))
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

